<li class="{{eaten}}">
	{{dataValues.burger_name}}
	<button class="change-eaten btn btn-{{eaten}} btn-sm" data-id="{{dataValues.id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}CONSUME!{{else}}REGURGITATE!{{/if}}
	</button> <button class="delete btn btn-danger btn-sm" data-id="{{dataValues.id}}">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
</li>
