<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EAT TIME!{{else}}WAKE UP!{{/if}}
	</button> <button class="delete" data-id="{{id}}">
		THROW IN LAKE!
	</button>
</li>
